<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
	<head>
		<title>My Horoscope App</title>
	</head> 
	<body>
		
	
		<p>Hello to my first web application!</p>
	

		<p>Would you like to know your horoscope?!</p>
		<div id="contact-form">
			<form method="post" action="/horoscope">
				<label for="text">Please Enter Your DOB (dd-mm-yy):</label>
				<input type="Date" id="dob" name="dob" required="required">
				<input type="submit" value="Submit" id="submit"/>
			</form>
		</div>


	</body> 
</html>